@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(232, 246, 242);
}

header {
  width: 100vw;
  margin-bottom: 20px;
  background-color: rgb(55, 54, 54);
  color: #fff;
}

.header-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 18px;
}

a{
  color:#fff
}
h1{
  text-align: center;
}
 
.container {
  max-width: 400px;
  margin: 10vh auto 0 auto;
  box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
  border-radius: 10px;
}

.display {
  height: 100px;
  width: 100%;
  text-align: right;
  padding: 20px;
  font-size: 30px;
  position: relative;
}

.prev-value {
  opacity: 0.4;
  font-size: 20px;
  height: 22px;
  overflow: hidden;
}

.temp-value {
  position: absolute;
  bottom: 0;
  left: 10;
  font-size: 20px;
  opacity: 0.3;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid rgb(30, 29, 29);
  border-left: 1px solid rgb(37, 36, 36);
  border-radius: 10px;
  background-color: #999;
}

.buttons > div {
  border-top: 1px solid #999;
  border-right: 1px solid #999;
}

.button {
  border: 0.5px solid #999;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 10px;
}
.button:hover {
  background-color: rgb(24, 24, 24);
  color: #fff;
  transition: 0.5s ease-in-out;
}

#equal {
  background-color: rgb(26, 122, 191);
  color: #fff;
  font-size: 35px;
  grid-column: span 2;
}
